*{
    padding: 0;
    margin: 0;
}

.contain {
    width: 100%;
    display: flex;
    padding-bottom: 4rem;
    flex-direction: column;
  }

  .buy{
    display: flex;
    flex-direction: row;
  }

.buy img{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  width: auto;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: 0.3s;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  margin: 40px;
  margin-left: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: flipInX;
  animation-duration: 1.2s;
}

.buy h1{
    padding: 40px;
    margin-left: 7%;
    font-weight: 900;
    font-size: 40px;
    color: #000;
}

.desc{
    display: flex;
    flex-direction: column;
    animation-name: flipInX;
    animation-duration: 1.2s;
}

.value-contain {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .value-contain p{
    font-size: 20px;
  }

  .value-contain p span{
    font-weight: bold;
  }
  
  #value {
    font-weight: 800;
    font-size: 35px;
  }
  
  #value-old {
    color: gray;
    font-weight: 500;
    font: 32px;
    text-decoration: line-through;
    margin-right: 0.5rem;
  }

  .btn-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--theme);
    border-radius: 5px;
    width: 40%;
    padding: 0.2rem 0.5rem;
    margin-top: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s all;
  }

  .btn-buy:hover {
    background-color: #000;
    color: #fff;
    border-color: transparent;
    transition: 0.3s all;
  }

  .info{
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    text-align: center;
  }

  .info p{
    display: flex;
    font-size: 18px;
    padding: 7px;
    text-align: center;
    flex-direction: column;
    font-weight: 400;
  }

  #info-tec{
    font-weight: bold;
    display: flex;
  }



.back-home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 5rem;
  }
  
  .back-home a {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 1rem;
    border-radius: 2rem;
    transition: 0.3s all;
    text-transform: uppercase;
    font-size: 1rem;
  }
  
  .back-home a:hover {
    transform: translateY(-0.3rem);
    transition: 0.3s all;
    background-color: rgba(0, 0, 0, 0.877);
  }
  